<html>
<head>
  <link rel="stylesheet" href="/public/stylesheets/sitiowebej.css">
</head>
<body>
  <div class="contenedor">
    <img src="images/about.jpg" alt="Mi Imagen" class="imagen-reducida">
    <div class="texto">
        <h5 class="text-center">Misión</h5>
      <p>Mi objectivo es generar una colaboración entre el espectador y el protagonista, buscando transmitir un mensaje y sentimiento</p>
    </div>
  </div>
</body>
</html>