<html>
<head>
  <link rel="stylesheet" href="/public/stylesheets/sitiowebej.css">
</head>
<body>
  <div class="contenedor">
    <img src="images/about.jpg" alt="Mi Imagen" class="imagen-reducida">
    <div class="texto" style="font-family: Arial, Helvetica, sans-serif;">
        <h1 class="text-center" style="font-weight: 750;" style="font-style: italic;">Misión</h1>
      <p style="font-size: larger;">"Mi objetivo es generar una colaboración entre el espectador y el protagonista, buscando transmitir un mensaje y sentimiento."</p>
    </div>
  </div>
  </div>
</body>
</html>
