<div class="container-fluid">
        <div id="home" class="row align-items-center hero scroll_section">
            <div class="col-lg-3 offset-lg-2">
                <p></p>
                <h1></h1>
                <p></p>
            </div>
        </div>
    </div>
