<div class="container">
    <div id="galeria" class="text-center pt-3">
         <link rel="stylesheet" href="sitiowebej.css">
         <script src="script.js" defer></script>

            <h1>PORTFOLIO</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/Graciela-214 (1).jpg"><img src="images/Graciela-214 (1).jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/Graciela-212.jpg"><img src="images/Graciela-212.jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/RallydeInvierno-96.jpg"><img src="images/RallydeInvierno-96.jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/INDI XV-2.jpg"><img src="images/INDI XV-2.jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/INDI XV-72.jpg"><img src="images/INDI XV-72.jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/Julia & Fer (12 de 352).jpg"><img src="images/Julia & Fer (12 de 352).jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/RallydeInvierno-68.jpg"><img src="images/RallydeInvierno-68.jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/Cami & Fran-176.jpg"><img src="images/Cami & Fran-176.jpg" alt="Galeria Imagen"></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="images/Cami & Fran-10.jpg"><img src="images/Cami & Fran-10.jpg" alt="Galeria Imagen"></a>
                </div>
            </div>
        </div>
    </div>
</div>
